body {
	background-color: #A9A9A9;
}

nav {
	background-color: #000;
	text-align: center;
	height: 100%;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	font-size: 25px;
	color: white;
	transition: color 2s;
}

nav li {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    width: 100px;
}

.first-level li {
  /*  position: relative;*/
    display: inline-block;
    transition: background-color 1s;
}

.first-level li .second-level {
    position: absolute;
    display: none;
    left: 0;
    top: 100%;
}

li:hover {
	background-color: #696969;
}

li:hover > a {
	color: black;
}

.first-level li:hover .second-level {
	display: block;
	background-color: #000;
}